*.iml
.gradle
/local.properties
/.idea/caches
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties

# IntelliJ IDEA / Android Studio
/.idea/caches/
/.idea/libraries/
/.idea/modules.xml
/.idea/workspace.xml
/.idea/tasks.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
/.idea/deploymentTargetSelector.xml
/.idea/gradle.xml
/.idea/AndroidProjectSystem.xml
/.idea/runConfigurations.xml
/.idea/dbnavigator.xml
/.idea/copilot.data.migration.agent.xml
/.idea/migrations.xml
/.idea/shelf/
/.idea/misc.xml